* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}

nav,
li {
    list-style: none;
    margin-right: 50px;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    border: 0px;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 5px 30px;
    border-radius: 5px;
    background: #FD6E0A;

}

.header {
    background-color: #fff8f3;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.nav-tittle {
    color: #181818;
    font-size: 45px;
    font-width: 800px;
}

.text-primary {
    color: #FD6E0A;
}

.banner {
    display: flex;
    align-items: center;
    padding: 30px 30px 0px 150px;
    justify-content: space-between;
}

.portfolio-pic {
    max-width: 500px;



}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;

}

.banner-tittle {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
}

.para {
    margin-top: 4px;
    margin-bottom: 3px;

}

.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 0px;
    margin: 130px;
}

.section-tittle {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;

}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;

    /* 166.667% */
}

main {
    max-width: 1140px;
    height: 550px;
    margin: 0px auto;

    main section {
        margin-top: 130px;
    }

}

.text-info-container {
    display: flex;
    justify-content: space-around;
}

.text-info {

    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;

    font-weight: 400;

    /* 150% */

}

.text-para {
    color: #080808;
    font-family: Open Sans;
    font-size: 20px;

    font-weight: 700;

}

.section-tittle {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.section-description {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 150px;
    /* 166.667% */
}

.section-container {
    display: flex;
    gap: 24px;
}

.skill {
    max-width: 267px;
    height: auto;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 30px;
}

.skill-tittle {
    color: var(--Dark-01, #181818);

    font-size: 20px;
    font-style: normal;
    font-weight: 700;

}

.skill-description {
    color: var(--Dark-03, #757575);

    font-size: 16px;

    font-weight: 400;
    /* 175% */
    padding-top: 30px 10px;
}

/*----resume section --------*/
.resume-container {

    display: flex;
    gap: 24px;
}

.section-heading {
    color: #181818;
    text-align: center;
    margin: 66px 115px;

    font-size: 35px;

    font-weight: 700;

}

.section-heading1 {
    color: #474747;

    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    padding: 20px 0px;

}

.section-heading2 {
    color: #474747;

    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    padding: 20px 0px;

}

.section-heading3 {
    color: #757575;

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding: 20px 0px;
}

hr {
    max-width: 558px;
    height: 1px;

    background: #D1D1D1;
}

.aa {
    text-align: center;
    padding-bottom: 131px;
}

/*--foooter---*/

.container {
    display: flex;
    gap: 20px;
    height: 450px;
    background: #FFF8F3;
    padding: 80px 30px;


}

.footer-colum1 {

    width: 50%;
    padding: 5px 25px;

}

.footer-colum1 h3 {
    font-size: 28px;
    font-weight: 700;
    color: #080808;
}

.footer-colum2 {

    width: 50%;
    padding-top: 10px;
}

.footer-colum2 h3 {
    font-size: 28px;
    font-weight: 700;
    color: #080808;
}

.fotm,
input[type="text"],
.fotm,
input[type="email"],
textarea {
    display: block;
    width: 95%;
    padding: 14px;
    color: #FFF;
    border: 0;
    gap: 10px;


}

.fotm,
input {
    height: 30px;

}

.forn textarea {
    height: 120px;

}

@media screen and (max-width:570px) {

    .header,
    .banner {
        flex-direction: column;
        padding: 0;
        margin: 5ps;
    }

    nav {
        flex-direction: column;
        margin: 0;



    }

    .about {
        flex-direction: column;
        margin: 0;
        padding: 5px;
        width: 100%;
    }


    .section-description {

        padding: 10px;

    }

    .text-info-container {
        flex-direction: column;
        padding: 2px;
    }

    .section-container {
        flex-direction: column;
        padding: 5px;
    }

    .container {
        flex-direction: column;
    }


}